package {{package}};

import org.springframework.cloud.openfeign.FeignClient;
import org.openapitools.configuration.ClientConfiguration;

@FeignClient(
name = "{{serviceName}}",
contextId = "{{classname}}",
url = "${" + "{{serviceName}}.url:}",
configuration = ClientConfiguration.class
)
public interface {{classname}}Client extends {{classname}} {
}